/// Sass Sandbox Styles
/// @author Ben Fortune
/// @access public

/// IMPORT TWITTER BOOTSTRAP
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

/// GLOBAL OVERRIDES
@import 'partials/_global-variables';
@import 'partials/_global-mixins';
@import 'partials/_global-helpers';
@import 'partials/_global-layout';
@import 'partials/_global-fonts';
@import 'partials/_global-buttons';
@import 'partials/_global-form';
@import 'partials/_global-alerts';
@import 'partials/_global-float-label';
@import 'partials/_icon-fonts';

/// PAGE OVERRIDES
%dotted-border
{
    border: 1px dotted #000;
}

.slider,
.dice-checkbox-group
{
    margin-top: 20px;
}

/// Messing with Interpolation
$description: 'awesome and stuff';
@warn 'Sass is #{$description}!';
