////
/// This is a poster comment.
/// It will apply annotations to all items from file.
/// @group Global Variables
/// @author Ben Fortune
////

/// @group Global Colors
$main-background-color: #F5F5F5;
/// @group Global Colors
$warning-red: #F2DEDE;
/// @group Global Colors
$warning-yellow: #FCF8E3;

/// main font-stack
$main-font-stack: sans-serif;
/// main font color
$main-font-color: #333;
$main-font-boldness: 300;
$header-font-stack: 'Roboto Condensed', sans-serif;
$secondary-font-color: #666;
$form-font-color: #555;
$label-font-color: #999;

/// @group Global Buttons
$btn-default-blue: #069;
$btn-white: #FFF;
$btn-interaction-blue: #6CF;
$btn-inactive-gray: #CCC;

/// @group Global Component Colors
$border-default-gray: #DDD;

/// @group Global Form Validations
$form-success-green: #6C6;
$form-warning-yellow: #FC0;
$form-error-red: #C00;
