////
/// @group Global Variables
/// @author Ben Fortune
////

/// @group Global Colors
$main-background-color: #F5F5F5;
/// @group Global Colors
$warning-red: #F2DEDE;
/// @group Global Colors
$warning-yellow: #FCF8E3;

/// main font-stack
$main-font-stack: sans-serif;
/// main font color
$main-font-color: #333;
/// main font boldness
$main-font-boldness: 300;
/// header font stack
$header-font-stack: 'Roboto Condensed', sans-serif;
/// secondary font color
$secondary-font-color: #666;
/// form font color
$form-font-color: #555;
/// label font color
$label-font-color: #999;

/// btn default blue
$btn-default-blue: #069;
/// btn white
$btn-white: #FFF;
/// btn interaction blue
$btn-interaction-blue: #6CF;
/// btn inactive gray
$btn-inactive-gray: #CCC;

/// border default gray
$border-default-gray: #DDD;

/// form success green
$form-success-green: #6C6;
/// form warning yellow
$form-warning-yellow: #FC0;
/// form error red
$form-error-red: #C00;
