//  PAGE LAYOUT 
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
//  END PAGE LAYOUT

//  H1-H6 ELEMENTS 
@mixin header-text {
    font: {
        family: $header-font-stack;
        weight: 500;
        style: italic;
    }
}
//  END H1-H6 ELEMENTS

//  BUTTONS, LINKS AND VARIABLES
@mixin dice-link {
    color: $btn-default-blue;
    text-decoration:none;
}
@mixin dice-link-hover {
    color: $btn-interaction-blue;
    text-decoration:underline;
}
@mixin dice-button {
    color: $btn-white;
    background-color: $btn-default-blue;
    border-color: $btn-default-blue;
}
@mixin dice-button-hover {
    color: $btn-white;
    background-color: $btn-interaction-blue;
    border-color: $btn-interaction-blue;
}
@mixin dice-secondary-button {
    color: $btn-default-blue;
    background-color: $btn-white;
    border-color: $btn-default-blue;
}
@mixin dice-secondary-button-hover {
    color: $btn-white;
    background-color: $btn-default-blue;
    border-color: $btn-interaction-blue;
}
//  END BUTTONS AND LINKS

// FORMS AND INPUTS
// END FORMS AND INPUTS