// BOOTSTRAP OVERRIDES FOR COMMON FORM STYLES

.dice-form {
    margin-top:15px;
    margin-bottom:15px;
    color:#555;
    .form-control {
        border-color:$border-default-gray;
    }
    .form-group-lg .form-control {
        height:46px;
        @include border-radius(2px);
    }
    .has-success .form-control {
      border-color:#3C763D;
    }
    .has-warning .form-control {
      border-color:#8A6D3B;
    }
    .has-error .form-control {
      border-color:#A94442;
    }
    .dropdown-menu{
      top:170px;
      left:15px;
      color:$form-font-color;
      border-radius:0 0 2px 2px;
      border-top:0 none;
      border-color: $border-default-gray;
      li a:hover, li a:focus, li a:active {
        background-color:$btn-interaction-blue;
      }
    }
}
