//  PAGE LAYOUT 
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
//  END PAGE LAYOUT

//  H1-H6 ELEMENTS 
@mixin header-text {
    font: {
        family: 'Roboto Condensed', sans-serif;
        weight: 500;
        style: italic;
    }
}
//  END H1-H6 ELEMENTS

//  BUTTONS, LINKS AND VARIABLES
$main-btn-color: #069;
$main-btn-text-color: #FFF;
$main-btn-interaction-color: #6CF;

@mixin dice-link {
    color: $main-btn-color;
    text-decoration:none;
}
@mixin dice-link-hover {
    color: $main-btn-interaction-color;
    text-decoration:underline;
}
@mixin dice-button {
    color: $main-btn-text-color;
    background-color: $main-btn-color;
    border-color: $main-btn-color;
}
@mixin dice-button-hover {
    background-color: $main-btn-interaction-color;
    border-color: $main-btn-interaction-color;
}
@mixin dice-secondary-button {
    color: $main-btn-color;
    background-color: $main-btn-text-color;
    border-color: $main-btn-color;
}
@mixin dice-secondary-button-hover {
    color: $main-btn-interaction-color;
    background-color: $main-btn-text-color;
    border-color: $main-btn-interaction-color;
}
//  END BUTTONS AND LINKS