/// Global Variables
/// @author Ben Fortune

/// GLOBAL GRAY
$main-background-color: #F5F5F5;
/// GLOBAL WARNING RED
$warning-red: #F2DEDE;
/// GLOBAL WARNING YELLOW
$warning-yellow: #FCF8E3;

/// FONTS AND FONT COLORS
$main-font-stack: sans-serif;
$main-font-color: #333;
$main-font-boldness: 300;
$header-font-stack: 'Roboto Condensed', sans-serif;
$secondary-font-color: #666;
$form-font-color: #555;
$label-font-color: #999;

/// BUTTONS, LINKS AND VARIABLES
$btn-default-blue: #069;
$btn-white: #FFF;
$btn-interaction-blue: #6CF;
$btn-inactive-gray: #CCC;

/// COMPONENT COLORS
$border-default-gray: #DDD;

/// FORM VALIDATION STATES
$form-success-green: #6C6;
$form-warning-yellow: #FC0;
$form-error-red: #C00;
