// GLOBAL COLORS
$main-background-color: #F5F5F5;
$warning-red: #F2DEDE;
$warning-yellow: #FCF8E3;

// FONTS AND FONT COLORS
$main-font-stack: sans-serif;
$main-font-color: #333;
$main-font-boldness: 300;
$header-font-stack: 'Roboto Condensed', sans-serif;
$secondary-font-color: #666;
$form-font-color: #555;

//  BUTTONS, LINKS AND VARIABLES
$btn-default-blue: #069;
$btn-white: #FFF;
$btn-interaction-blue: #6CF;

// COMPONENT COLORS
$border-default-gray: #DDD;

// FORM VALIDATION STATES
$form-success-green: #6C6;
$form-warning-yellow: #FC0;
$form-error-red: #C00;
