/*  PAGE LAYOUT  */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/*  END PAGE LAYOUT  */

/*  H1-H6 ELEMENTS  */
@mixin header-text {
    font: {
        family: 'Roboto Condensed', sans-serif;
        weight: 500;
        style: italic;
    }
}
/*  END H1-H6 ELEMENTS  */

/*  BUTTONS AND LINKS  */
@mixin dice-link {
    color: #069;
    text-decoration:none;
}
@mixin dice-link-hover {
    color: #6CF;
    text-decoration:underline;
}
@mixin dice-button {
    color: #FFF;
    background-color:#069;
    border-color: #069;
}
@mixin dice-button-hover {
    background-color: #6Cf;
    border-color: #6CF;
}
@mixin dice-secondary-button {
    color: #069;
    background-color: #FFF;
    border-color: #069;
}
@mixin dice-secondary-button-hover {
    color: #6CF;
    background-color: #FFF;
    border-color: #6CF;
}
/*  END BUTTONS AND LINKS  */