// BOOTSTRAP OVERRIDES FOR COMMON FORM STYLES

.dice-form {
    margin-top:15px;
    margin-bottom:15px;
    label {
        color: #B5B5B5;
    }
    .form-control {
        border-color: #E5E5E5;
    }
    .form-group-lg .form-control {
        height: 46px;
        @include border-radius(2px);
    }
}