.dice-footer {
    background-color: #333333;
    font-size: 14px;
    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logo {
        display: block;
        margin-bottom: 20px;
        img {
            display: block;
            width: 100px;
            height: 50px;
        }
    }
    h5 {
        background-color: darken(#333333, 5%);
        border-bottom: 1px solid #333333;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 0;
        padding: 12px;
        @media (min-width: 992px) {
            background-color: transparent;
            cursor: default;
            margin-bottom: 15px;
            padding: 0;
        }
        .caret {
            float: right;
            margin: 6px 13px 0 0;
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
    ul {
        padding: 15px 12px 15px 12px;
        @media (min-width: 992px) {
            padding: 0;
        }
    }
    .links {
        a {
            color: #999999;
            display: block;
            margin-bottom: 15px;
            &:hover,
            &:focus {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
    .social {
        li a {
            display: inline;
            display: inline-block;
        }
        .social-icon {
            display: inline-block;
            margin-right: 8px;
            margin-bottom: 15px;
            img {
                width: 32px;
            }
        }
        .app-store-link {
            margin-bottom: 8px;
            img {
                width: 135px;
            }
        }
    }
    .copyright {
        background-color: #000000;
        p {
            color: #AAAAAA;
            margin: 5px 0;
            a {
                color: #AAAAAA;
                text-decoration: underline;
                &:hover,
                &:focus {
                    color: #FFFFFF;
                }
            }
        }
    }
}
