$main-background-color: #F5F5F5;
$alert-danger: #F2DEDE;
$alert-warning: #FCF8E3;
$dice-white: #FFF;

// FONTS AND FONT COLORS
$main-font-stack: sans-serif;
$main-font-color: #333;
$main-font-boldness: 300;
$header-font-stack: 'Roboto Condensed', sans-serif;
$secondary-font-color: #666;
$form-font-color: #555;
$label-font-color: #999;

// BUTTONS, LINKS AND VARIABLES
$btn-default-blue: #069;
$btn-white: #FFF;
$btn-interaction-blue: #6CF;
$btn-inactive-gray: #CCC;

// COMPONENT COLORS
$border-default-gray: #DDD;

// FORM VALIDATION STATES
$dice-success-green: #6C6;
$dice-warning-yellow: #FC0;
$dice-error-red: #C00;
