.dice-alert {
    color: $main-font-color;
    font-size: 16px;
}

.dice-alert.alert-danger {
    background-color: $alert-danger;
    border-color: $alert-danger;
}

.dice-alert.alert-warning {
    background-color: $alert-warning;
    border-color: $alert-warning;
}