// BOOTSTRAP OVERRIDES FOR COMMON FORM STYLES

.dice-form {
    margin-top:15px;
    margin-bottom:15px;
    color:#555;
    .form-control {
        border-color:$border-default-gray;
    }
    .form-group-lg {
      .form-control {
        height:46px;
        @include border-radius(2px);
      }
    }
    .has-success {
      .control-label {
        color:$form-success-green;
      }
      .form-control {
        border-color:$form-success-green;
      }
    }
    .has-warning {
      .control-label {
        color:$form-warning-yellow;
      }
      .form-control {
        border-color:$form-warning-yellow;
      }
    }
    .has-error {
      .control-label {
        color:$form-error-red;
      }
      .form-control {
        border-color:$form-error-red;
      }
    }
    .dropdown-menu{
      top:170px;
      left:15px;
      color:$form-font-color;
      border-radius:0 0 2px 2px;
      border-top:0 none;
      border-color: $border-default-gray;
      li a:hover, li a:focus, li a:active {
        background-color:$btn-interaction-blue;
      }
    }
}
