body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    background-color: #F5F5F5;
}
.dice-page {
    padding-top: 45px;
    padding-bottom: 100px;
    a {
        color: #006699;
        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
            color: #006699;
        }
    }
    hr {
        border-top-color: #E5E5E5;
    }
    .text-muted {
        color: #999999;
    }
    .text-danger {
        color: $error-red;
    }
}
.dice-header + .dice-page {
    padding-top: 30px;
}
