.dice-modal {
    .modal-content {
        border-radius: 4px;
    }
    .modal-header {
        padding: 15px 30px;
        background-color: #DDDDDD;
        border-radius: 4px 4px 0 0;
        h4 {
            font: italic 300 24px/1.5'Roboto Condensed', sans-serif;
        }
        .close {
            margin-top: 8px;
        }
    }
    .modal-body {
        background-color: #F5F5F5;
        font-size: 16px;
        padding: 30px;
    }
    .modal-footer {
        border-top: none;
        padding: 15px 30px;
    }
}
