// BOOTSTRAP OVERRIDES FOR COMMON FONT STYLES

body {
    color: $main-font-color;
    font: {
        family: $main-font-stack;
        weight: $main-font-boldness;
    }
}
h1, h2, h3 {
    @include header-text;
}
h2 {
    color: $secondary-font-color;
}