@font-face {
  font-family: 'Icons';
  src: url("../fonts/icon.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon.woff") format("woff"),
    url("../fonts/icon.ttf") format("truetype"),
    url("../fonts/icon.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Filled Icons';
  src: url("../fonts/icon-filled-in.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/icon-filled-in.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-filled-in.woff") format("woff"),
    url("../fonts/icon-filled-in.ttf") format("truetype"),
    url("../fonts/icon-filled-in.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "Icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-alert-1:before {
  content: "\e000"; }

.icon-arrow-57:before {
  content: "\e001"; }

.icon-arrow-58:before {
  content: "\e002"; }

.icon-arrow-59:before {
  content: "\e003"; }

.icon-arrow-60:before {
  content: "\e004"; }

.icon-arrow-65:before {
  content: "\e005"; }

.icon-arrow-66:before {
  content: "\e006"; }

.icon-arrow-67:before {
  content: "\e007"; }

.icon-arrow-68:before {
  content: "\e008"; }

.icon-arrow-circle-27:before {
  content: "\e009"; }

.icon-arrow-circle-28:before {
  content: "\e00a"; }

.icon-arrow-circle-29:before {
  content: "\e00b"; }

.icon-arrow-circle-30:before {
  content: "\e00c"; }

.icon-add-1:before {
  content: "\e00d"; }

.icon-add-2:before {
  content: "\e00e"; }

.icon-add-3:before {
  content: "\e00f"; }

.icon-bank-note:before {
  content: "\e010"; }

.icon-building-2:before {
  content: "\e011"; }

.icon-calendar-2:before {
  content: "\e012"; }

.icon-call-1:before {
  content: "\e013"; }

.icon-chat-2-1:before {
  content: "\e014"; }

.icon-check-1:before {
  content: "\e015"; }

.icon-check-4:before {
  content: "\e016"; }

.icon-compass-1:before {
  content: "\e017"; }

.icon-compass-3:before {
  content: "\e018"; }

.icon-cursor-6:before {
  content: "\e019"; }

.icon-delete-1-1:before {
  content: "\e01a"; }

.icon-delete-2:before {
  content: "\e01b"; }

.icon-delete-2-1:before {
  content: "\e01c"; }

.icon-delete-3:before {
  content: "\e01d"; }

.icon-file-checked:before {
  content: "\e01e"; }

.icon-magnifier:before {
  content: "\e01f"; }

.icon-mail-1:before {
  content: "\e020"; }

.icon-marker-1:before {
  content: "\e021"; }

.icon-minus-1:before {
  content: "\e022"; }

.icon-minus-2:before {
  content: "\e023"; }

.icon-minus-3:before {
  content: "\e024"; }

.icon-pencil-2:before {
  content: "\e025"; }

.icon-plane-takeoff:before {
  content: "\e026"; }

.icon-plugin-1:before {
  content: "\e027"; }

.icon-preview-1:before {
  content: "\e028"; }

.icon-profile-1:before {
  content: "\e029"; }

.icon-star-1:before {
  content: "\e02a"; }

.icon-arrow-share:before {
  content: "\e02b"; }

.icon-twitter:before {
  content: "\e02c"; }

.icon-search:before {
  content: "\e02d"; }

.icon-document-1:before {
  content: "\e02e"; }

.icon-business-chart-2:before {
  content: "\e02f"; }

.icon-facebook-circle:before {
  content: "\e031"; }

.icon-gplus-circle:before {
  content: "\e032"; }

.icon-twitter-circle:before {
  content: "\e033"; }

.icon-clock-3:before {
  content: "\e034"; }

.icon-arrow-53:before {
  content: "\e035"; }

.icon-arrow-54:before {
  content: "\e036"; }

.icon-arrow-55:before {
  content: "\e037"; }

.icon-arrow-56:before {
  content: "\e038"; }

.icon-filter-3:before {
  content: "\e030"; }

.icon-instagram-circle:before {
  content: "\e039"; }

.icon-dhi:before {
  content: "\e03a";
}

.icon-dhi-alt:before {
  content: "\e03b";
}

.icon-dhi-text:before {
  content: "\e03c";
}

.icon-dhi-text-alt:before {
  content: "\e03d";
}

[data-icon-filled]:before {
  font-family: "Filled Icons" !important;
  content: attr(data-icon-filled);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-filled-"]:before,
[class*=" icon-filled-"]:before {
  font-family: "Filled Icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-filled-mail-1:before {
  content: "\e000"; }

.icon-filled-alert-1:before {
  content: "\e001"; }

.icon-filled-add-1:before {
  content: "\e002"; }

.icon-filled-add-3:before {
  content: "\e003"; }

.icon-filled-bank-note:before {
  content: "\e004"; }

.icon-filled-building-2:before {
  content: "\e005"; }

.icon-filled-calendar-2:before {
  content: "\e006"; }

.icon-filled-call-1:before {
  content: "\e007"; }

.icon-filled-chat-2-1:before {
  content: "\e008"; }

.icon-filled-check-1:before {
  content: "\e009"; }

.icon-filled-check-4:before {
  content: "\e00a"; }

.icon-filled-compass-1:before {
  content: "\e00b"; }

.icon-filled-compass-3:before {
  content: "\e00c"; }

.icon-filled-cursor-6:before {
  content: "\e00d"; }

.icon-filled-delete-1-1:before {
  content: "\e00e"; }

.icon-filled-delete-2:before {
  content: "\e00f"; }

.icon-filled-delete-2-1:before {
  content: "\e010"; }

.icon-filled-delete-3:before {
  content: "\e011"; }

.icon-filled-file-checked:before {
  content: "\e012"; }

.icon-filled-magnifier:before {
  content: "\e013"; }

.icon-filled-marker-1:before {
  content: "\e014"; }

.icon-filled-minus-1:before {
  content: "\e015"; }

.icon-filled-minus-2:before {
  content: "\e016"; }

.icon-filled-minus-3:before {
  content: "\e017"; }

.icon-filled-pencil-2:before {
  content: "\e018"; }

.icon-filled-plane-takeoff:before {
  content: "\e019"; }

.icon-filled-plugin-1:before {
  content: "\e01a"; }

.icon-filled-preview-1:before {
  content: "\e01b"; }

.icon-filled-profile-1:before {
  content: "\e01c"; }

.icon-filled-star-1:before {
  content: "\e01d"; }

.icon-filled-arrow-share:before {
  content: "\e01e"; }

.icon-filled-twitter:before {
  content: "\e01f"; }

.icon-filled-dice-d:before {
  content: "\e020"; }

.icon-filled-equalizer:before {
  content: "\e021"; }

.icon-filled-document-1:before {
  content: "\e022"; }

.icon-filled-business-chart-2:before {
  content: "\e023"; }

.icon-filled-arrow-65:before {
  content: "\e024"; }

.icon-filled-arrow-66:before {
  content: "\e025"; }

.icon-filled-arrow-67:before {
  content: "\e026"; }

.icon-filled-arrow-68:before {
  content: "\e027"; }

.icon-filled-arrow-57:before {
  content: "\e028"; }

.icon-filled-arrow-58:before {
  content: "\e029"; }

.icon-filled-arrow-59:before {
  content: "\e02a"; }

.icon-filled-arrow-60:before {
  content: "\e02b"; }

.icon-filled-arrow-circle-27:before {
  content: "\e02c"; }

.icon-filled-arrow-circle-28:before {
  content: "\e02d"; }

.icon-filled-arrow-circle-29:before {
  content: "\e02e"; }

.icon-filled-arrow-circle-30:before {
  content: "\e02f"; }

.icon-filled-arrow-53:before {
  content: "\e031"; }

.icon-filled-arrow-54:before {
  content: "\e032"; }

.icon-filled-arrow-55:before {
  content: "\e033"; }

.icon-filled-arrow-56:before {
  content: "\e034"; }

.icon-filled-filter-3:before {
  content: "\e030"; }

.icon-filled-d-icon:before {
  content: "\e035"; }
